<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/create-after.css">
    <title>create.complete</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">
        <div class="position">
            <div class="a">
        <div class="message">
            chatroomを作成しました
        </div>
            </div>
            <div class="b">
                <div class="b1">
                    roomname:[[${roomname}]]
                </div>
                <div class="b2">
                    roomID:[[${roomID}]]
                </div>
                <div class="b3">
                    password:[[${password}]]
                </div>
            </div>
                <div class="c">
        <button type="button" class="button" onclick="document.location='login.html';">入室画面へ</button>
        </div>
    </div>
</div>
</div>
</body>
</html>
