<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styleca.css">
    <title>create.complete</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">
        <div class="message">

        </div>
        <div class="position">
            <div class="texts">
                <p>roomname:[[${roomname}]]</p>
            <br>
                <p>roomID:[[${roomID}]]</p>
            <br>
                <p>password:[[${password}]]</p>
            <br>
        <button type="button" class="button" onclick="document.location='login.html';">入室画面へ</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
