<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/create.css" th:href="@{/css/create.css}">
    <title>Anonymous chat_create</title>
</head>
<body>
<div class="layerImage">

    <div class="layerTransparent">
        <div class="position">
            <div class="a">
                <div class="message">
                    chat roomをつくろう<br>
                </div>
            </div>

        <div class="b">
                <form action="Created" method="post">
                        <label for="name">room name</label><br>
                        <input type="text" id="name" name="name">
                        <label for="pass">room password</label><br>
                        <input type="text" id="pass" name="pass">
                        <input type="submit" value="作成" class="button1">

                </form>
                <button type="button" class="button2" onclick="history.back()">戻る</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>