<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/create-after.css" th:href="@{/css/create-after.css}">
    <title>create.complete</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">
        <div class="position">
            <div class="a">
                <div class="messageForm">
                    chatroomを作成しました
                </div>
            </div>

            <div class="b">
                <div class="b1">
                    roomname:[[${roomName}]]
                </div>
                <div class="b2">
                    roomID:[[${roomId}]]
                </div>
                <div class="b3">
                    password:[[${password}]]
                </div>
            </div>

            <div class="c">
                <form action="Login" method="get">
                    <button type="submit" class="button">入室画面へ</button>
                </form>
            </div>
    </div>
</div>
</div>
</body>
</html>
