<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;
        var myId = Math.random().toString(32).substring(2);

        function setConnected() {
            document.getElementById('conversationDiv')/*.style.visibility = connected ? 'visible' : 'hidden'*/;
            document.getElementById('response')/*.innerHTML = ''*/;
        }

        function connect() {
            var socket = new SockJS('/endpoint'); // WebSocketに接続
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected();
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings', function (greeting) { // 挨拶の応答(/topic/greetings)を購読する
                    showGreeting(/*JSON.parse(greeting.body).content*/greeting);
                });
            });
        }


        function sendName() {
            var messageForm = document.getElementById('messageForm').value;
            var time  = new Date().toString();
            //var time = date.toString();
            stompClient.send("/app/endpoint", {}, JSON.stringify({messageForm: messageForm,timeStamp: time, id: myId})); // メッセージを送信
        }

        function showGreeting(greeting) {
            var json = JSON.parse(greeting.body);
            var messageForm = json.messageForm;
            var time = json.timeStamp;
            var id = json.id;

            console.log(messageForm);
            console.log(time);
            console.log(id);

            var response = document.getElementById('response');

            if(myId == id) {
                var myText = document.createElement('div');
                myText.setAttribute("class", "myText");
                var message = document.createElement('div');
                message.setAttribute("class", "text")
                message.style.wordWrap = 'break-word';
                message.appendChild(document.createTextNode(messageForm));
                var timestamp = document.createElement('div');
                timestamp.setAttribute("class", "date");
                timestamp.appendChild(document.createTextNode(time));
                myText.appendChild(message);
                myText.appendChile(timestamp);
                response.appendChild(myText);
            }
            else {
                var youText = document.createElement('div');
                youText.setAttribute("class","youText");
                var message = document.createElement('div');
                message.setAttribute("class", "text")
                message.style.wordWrap = 'break-word';
                message.appendChild(document.createTextNode(messageForm));
                var timestamp = document.createElement('div');
                timestamp.setAttribute("class", "date");
                timestamp.appendChild(document.createTextNode(time));
                youText.appendChild(message);
                youText.appendChild(timestamp);
                response.appendChild(youText);
            }
        }

    </script>
</head>
<body onload="connect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div id="conversationDiv">
        <div class="base_view">
            <div class="room_name">
                <p>[[${roomName}]]</p>
            </div>
            <div id="response" class="contents scroll"></div>
        </div>

        <input type="text" id="messageForm"/>
        <button id="sendName" onclick="sendName();">Send</button>

    </div>
</div>
</body>
</html>
