<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function setConnected(connected) {
            //document.getElementById('connect').disabled = connected;
            //document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var socket = new SockJS('/endpoint'); // WebSocketに接続
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings', function (greeting) { // 挨拶の応答(/topic/greetings)を購読する
                    showGreeting(/*JSON.parse(greeting.body).content*/greeting);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendName() {
            var message = document.getElementById('name').value;
            var time  = new Date().toString();
            //var time = date.toString();
            stompClient.send("/app/endpoint", {}, JSON.stringify({message: message,timeStamp: time})); // メッセージを送信
        }

        function showGreeting(greeting) {
            var json = JSON.parse(greeting.body);
            var message = json.message;
            var time = json.timeStamp;
            console.log(message);
            var response = document.getElementById('response');
            var p = document.createElement('p');
            var t = document.createElement('time');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            t.appendChild(document.createTextNode(time));
            response.appendChild(p);
            response.appendChild(t);
        }
    </script>
</head>
<body onload="connect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <!--
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    -->
    <div id="conversationDiv">
        <p id="response"></p>
        <label>What is your name?</label><input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">Send</button>

    </div>
</div>
</body>
</html>