<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>チャットルーム</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/chat.css">
</head>
<body>
    <div class="base_view">
        <div class="room_name">
            [[${roomName}]]
        </div>
        <div id="area" class="contents scroll">
            <div class="myText">
                <div class="text">[[$myText}]]</div>
                <div class="date">[[$myDate}]]</div>
            </div>

            <div class="youText">
                <div class="text">[[$youText}]]</div>
                <div class="date">[[$youDate}]]</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <table>
            <tr>
                <td>
                    <input id="inp" type="text" name="name" class="newMessage form-control" autocomplete="nope">
                </td>
                <td width="80px">
                    <button type="submit" class="btn" onclick="pushMessage()">送信</button>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>