<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/enquate.css">
    <link rel="stylesheet" href="../../static/css/zdo_drawer_menu.css">
    <script type="text/javascript" src="../../static/js/zdo_drawer_menu.js"></script>
    <title>Enquate</title>
</head>
<body>
    <header>
        <div class="enquate_title">投票   <span>[[${tag}]]</span></div>
    </header>

    <div class="triangle">
        <div class=""btn></div>
        <div class="triangle3" onclick= MouseClick()></div>
    </div>


    <div class="zdo_drawer_menu">
        <div class="zdo_drawer_bg"></div>
        <button type="button" class="zdo_drawer_button">
            <span class="zdo_drawer_bar zdo_drawer_bar1"></span>
            <span class="zdo_drawer_bar zdo_drawer_bar2"></span>
            <span class="zdo_drawer_bar zdo_drawer_bar3"></span>
            <span class="zdo_drawer_menu_text zdo_drawer_text">MENU</span>
            <span class="zdo_drawer_close zdo_drawer_text">CLOSE</span>
        </button>
        <nav class="zdo_drawer_nav_wrapper">
            <ul class="zdo_drawer_nav">
                <li>
                    <a href="#">
                        ルーム選択
                    </a>
                </li>
                <li>
                    <a href="#">
                        投票締切日設定
                    </a>
                </li>
                <li>
                    <a href="#">
                        ルーム情報
                    </a>
                </li>
                <li>
                    <a href="#">
                        メニュー4
                    </a>
                </li>
                <li>
                    <a href="#">
                        メニュー5
                    </a>
                </li>
                <li>
                    <a href="#">
                        メニュー6
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <ul th:each="Tag : ${Tags}">
        <li><pre style="background: white"><label><form name="form1"><input type="checkbox" name="select">[[${Tag}]]</form></label></pre></li>
    </ul>
    <footer>
        <div id="btn"><button id="cp_btn" onclick="myCheck();">投票</button></div>
    </footer>

    <script type="text/javascript">
        function MouseClick() {
            alert("三角のボタン がクリックされました");
        }

        document.getElementById("btn").onclick = function() {
            document.getElementById("cp_btn").innerHTML = "再投票";
        };

        function myCheck() {
            var flag = false; // 選択されているか否かを判定する変数

                // i番目のチェックボックスがチェックされているかを判定
                if (document.form1.select.checked) {
                    flag = true;
                    alert(document.form1.select.value + "が選択されました。");
                }

            // 何も選択されていない場合の処理
            if (!flag) {
                alert("項目が選択されていません。");
            }
        }

    </script>


</body>
</html>