<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css" th:href="@{/css/index.css}">
    <title>Anonymous chat</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">

        <form action="Create" method="get">
            <div class="front1">
                <button type="submit" class="button1" >チャット作成</button>
            </div>
        </form>

        <form action="Login" method="get">
            <div class="front2">
                <button type="submit" class="button2">チャット入室</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>