/* ベース部分 */
.base_view {
    padding:0;
    background: #729dda;
    overflow: hidden;
    margin: 20px auto;
    font-size: 80%;
}

/* タイトル部分 */
.base_view .room_name {
    background: #1b313f;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: white;
}

/* 会話部分 */
.base_view .contents{
    padding: 10px;
    overflow: hidden;
    line-height: 135%;
}

.base_view .scroll {
    height: 400px;
    overflow-y: scroll;
}

/* 自分の会話 */
.base_view .myText {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* 会話文 自分用*/
.base_view .myText .text {
    padding: 10px;
    border-radius: 20px;
    background-color: #81da45;
    margin: 0;
    margin-left: 80px;
}

/* 吹き出し 自分用*/
.base_view .myText .text::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: -10px;
    top: 10px;
    border-left: 20px solid #81da45;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* 時刻　自分用 */
.base_view .myText .date {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    text-align: right;
    left: -30px;
    bottom: 0px;
    font-size: 80%;
    color: white;
}



/* 相手の会話 */
.base_view .youText {
    position: relative;
    display: block;
    margin: 5px 0;
    /*max-width: calc(100% - 120px);;*/
    max-width: 75%;
    clear: both;
    float: left;
    margin-left: 15px;
}


/* テキスト　相手用 */
/*.base_view .flText .flText-text {
    float: left;
    margin-left: 70px;
}
*/

/* 会話文　相手用 */
.base_view .youText .text {
    margin: 0;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    margin-right: 80px;
}


/* 吹き出し　相手用 */
.base_view .youText .text::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -10px;
    top: 10px;
    border-right: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* 時刻　相手用 */
.base_view .youText .date {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    text-align: right;
    right: 40px;
    bottom: 0px;
    font-size: 80%;
    color: white;
}

.form-group {
    background-color: white;
}

.form-group .fas {
    margin-right: 20px;
}



