@charset "UTF-8";

.layerImage{
    background-image: url("neko6.jpeg");
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.layerTransparent{
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
    width: 100%;
    height: 100%;
}


.button1{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: coral;
    background-color: white;
    border: solid 2px coral;
    border-radius: 3px;
    transition: .4s;
    margin-left: auto;
    margin-right: auto;
}

.button1:hover{
    background: coral;
    color: white;
}

.button2{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: coral;
    background-color: white;
    border: solid 2px coral;
    border-radius: 3px;
    transition: .4s;
    margin-right: auto;
    margin-left: auto;
}

.button2:hover{
    background: coral;
    color: white;
}

.position{
    text-align: center;
    vertical-align: center;
}

.a{
    text-align: center;
}
.b{
    text-align: center;
    margin: 1% 0;
}
.c{
    text-align: center;
    margin: 1% 0;
}
