@charset "UTF-8";

.layerImage{
    background-image: url("neko6.jpeg");
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.layerTransparent{
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
    width: 100%;
    height: 100%;
}


.button1{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #688b8a;
    border: solid 2px #688b8a;
    border-radius: 3px;
    transition: .4s;
    background-color: 00000000;
    margin-left: auto;
    margin-right: auto;
}

.button1:hover{
    background: #688b8a;
    color: #faefd4;
}

.button2{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #a0b084;
    border: solid 2px #a0b084;
    border-radius: 3px;
    transition: .4s;
    background-color: 00000000;
    margin-right: auto;
    margin-left: auto;
}

.button2:hover{
    background: #a0b084;
    color: #faefd4;
}

.position{
    text-align: center;
    vertical-align: center;
}

.a{
    text-align: center;
}
.b{
    text-align: center;
    margin: 1% 0;
}
.c{
    text-align: center;
    margin: 1% 0;
}
.message{
    font-family: Arial,sans-serif;
    font-size: 20px;
    color: #a57c65;
}