<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styleca.css">
    <title>create.complete</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">
        <form action="login-after.php" method="post">
            <class="texts">
                <p>roomname:[[${roomname}]]</p>
            <br>
                <p>roomID:[[${roomID}]]</p>
            <br>
                <p>password:[[${password}]]</p>
            <br>
        <button onclick="document.location='login.html';">入室画面へ</button>
        </form>
    </div>
</div>
</body>
</html>
