<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylec.css">
    <title>Anonymous chat_create</title>
</head>
<div class="layerImage">
    <body>
    <div class="layerTransparent">
        <div class="message">
            作成する<br>
        </div>
        <div class="position">
        <form action="create-after.php" method="post">
            <div>
                <label for="name">room name</label><br>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="pass">room password</label><br>
                <input type="text" id="pass" name="pass">
            </div>
            <input type="submit" value="作成" class="bottons" onclick="document.location='create-after.html';">
            <button type="button" class="bottons" onclick="history.back()">戻る</button>
        </form>
        </div>
    </div>
</div>

</body>
</html>