<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="enquate.css">
    <title>Enquate</title>
</head>
<body>
    <header>
        <div class="enquate_title">投票   <span>[[${tag}]]</span></div>
    </header>
    <div class="triangle">
        <div class="triangle3"></div>
    </div>
    <ul th:each="${}">
        <li><pre style="background: white">[[${text}]]</pre>---[[${}]]</li>
    </ul>
    <footer>
        <div class="btn"><<button class="cp_btn">再投票</button></div>
    </footer>
</body>
</html>