<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Anonymous chat</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">

    <div class="front1">
            <botton type="button" class="botton1" onclick="document.location='create.html';">チャット作成</botton>
        </div>
    <div class="front2">
            <button type="button" class="botton2" onclick="document.location='login.html';">チャット入室</button>

        </div>
    </div>
</div>

</body>
</html>