<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylela.css">
    <title>login-</title>
</head>
<body>
<div class="layerImage">
    <div class="layerTransparent">
            <p>[[${roomname}]]</p>
            <br>
            <p>[[${roomID}]]</p>
            <br>
        <button type="button" class="buttonla" onclick="document.location='chat.html';">入室</button>
        <button type="button" class="buttonla" onclick="document.location='login.html';">入力しなおす</button>
    </div>
</div>
</body>
</html>