@charset "UTF-8";

.layerImage{
    background-image: url("neko1.jpg");
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.layerTransparent{
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.messagel{
    position: relative;
    text-align: center;
    font-family: Courier;
    font-size: 40px;
    margin-top: 30px;

}
.position{
    position: relative;
    text-align: center;
    margin: 50px;
}
.buttonsr{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: coral;
    background-color: white;
    border: solid 2px coral;
    border-radius: 3px;
    transition: .4s;
    margin: 0 0 20px;
}

.buttonsr:hover{
    background: coral;
    color: white;
}

#id{
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial,sans-serif;
    color: #aaa;
    border:solid 1px #ccc;
    margin: 0 0 20px;
    width:300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#pass{
    border: 0;
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial,sans-serif;
    color: #aaa;
    border:solid 1px #ccc;
    margin: 0 0 20px;
    width:300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}